@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

@layer components {
  header{
    @apply flex justify-between items-center 
  }

  section{
    @apply w-full h-auto
  }

  nav {
    @apply flex justify-between items-center m-1 p-1 w-full
  }

  ul {
    @apply flex justify-between items-center w-full gap-2
  }

  li {
    @apply flex justify-center items-center font-nunito tracking-wide text-[clamp(1rem,2vw,1.50rem)] font-extrabold cursor-pointer w-full;
    font-variant: small-caps;
  }

  label {
    @apply block w-full h-auto p-1 mb-1 font-nunito tracking-wide text-[clamp(0.85rem,2vw,1.05rem)] font-semibold
  }

  input, 
  textarea {
    @apply w-full border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-[#8c6244] focus:border-[#8c6244] font-nunito tracking-wide text-[clamp(0.78rem,2vw,1rem)] resize-none
  }

  a{
    @apply font-nunito tracking-wide text-[clamp(0.85rem,2vw,1.05rem)] font-semibold
  }

  h1{
    font-variant: small-caps;
  }

  .left {
    @apply flex justify-start items-center w-auto m-1 p-[clamp(0.50rem,2vw,0.95rem)] font-nunito tracking-wide gap-[1%];
    font-variant: small-caps;
  }

  .right {
    @apply flex justify-end items-center w-auto m-1 p-[clamp(0.50rem,2vw,0.95rem)] relative
  }

  .container {
    @apply bg-[#f9f5f1] border border-[#8c6244] rounded-xl shadow-md
  }

  .text-hover-coffee {
    @apply hover:text-[#6F4E37] transition-colors duration-300 ease-in-out;
  }

  .coffee-benefits-list {
    @apply flex justify-start items-center font-semibold text-[clamp(0.78rem,2vw,1.10rem)]
  }

  .storytelling {
    @apply flex justify-center items-center flex-col m-1 p-2 font-nunito tracking-wide text-[clamp(0.78rem,2vw,1.10rem)] text-start font-semibold
    w-full
  }

  .socialLink {
    @apply flex items-center w-auto gap-1 p-1 
  }

  .footerDetails {
    @apply w-auto px-0 py-2 text-white font-nunito tracking-wide text-[clamp(0.78rem,2vw,1rem)] font-semibold
  }

  .cotactInfo {
    @apply flex justify-start items-center gap-0 w-full h-auto p-0 text-[clamp(0.78rem,2vw,1rem)]
  }

  .Notification {
    @apply flex justify-center items-center w-full text-[1rem] font-nunito tracking-wide font-extrabold
  }

  .loader {
    clip-path: inset(0 3ch 0 0);
    animation: l4 1s steps(4) infinite;
  }

  @keyframes l4 {
    to {
      clip-path: inset(0 -1ch 0 0);
    }
  }

}

