@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

@layer components {
  section{
    @apply w-full h-auto my-1 p-1 mb-[1rem]
  }

  nav {
    @apply flex justify-between items-center m-1 p-1 w-full
  }

  ul {
    @apply flex justify-between items-center w-[100%] gap-2
  }

  li {
    @apply flex justify-center items-center font-nunito tracking-wide text-[clamp(1rem,2vw,2rem)] font-bold cursor-pointer w-full
  }

  label {
    @apply block w-full h-auto p-1 mb-1 font-nunito tracking-wide text-[clamp(0.80rem,2vw,2rem)] font-semibold
  }

  input, 
  textarea {
    @apply w-full border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-[#8c6244] focus:border-[#8c6244] font-nunito tracking-wide text-[clamp(0.80rem,2vw,2rem)]
  }

  a{
    @apply font-nunito tracking-wide text-[clamp(0.80rem,2vw,2rem)] font-semibold
  }


  .left {
    @apply flex justify-start items-center w-auto m-1 p-2 font-nunito tracking-wide gap-[1%];
  }

  .right {
    @apply flex justify-end items-center w-auto m-1 p-2 relative
  }


  .text-hover-coffee {
    @apply hover:text-[#6F4E37] transition-colors duration-300 ease-in-out;
  }

  .coffee-benefits-list {
    @apply flex justify-start items-center text-[clamp(0.80rem,2vw,2rem)] font-semibold
  }

  .storytelling {
    @apply flex justify-center items-center flex-col m-1 p-1 font-nunito tracking-wide text-[clamp(0.80rem,2vw,2rem)] text-start font-semibold 
  }

  .socialLink {
    @apply flex items-center w-auto  gap-1 p-1 
  }

  .footerDetails {
    @apply w-full px-0 py-2 text-white font-nunito tracking-wide text-[clamp(0.70rem,2vw,2rem)] font-semibold 
  }

  .cotactInfo{
    @apply flex justify-start items-center gap-0 w-full h-auto p-0 text-[clamp(0.50rem,2vw,2rem)]
  }

  .Notification{
    @apply text-[clamp(1rem,2vw,2rem)] font-nunito tracking-wide font-extrabold
  }

}



.testing{
  border: 1px solid red;
  flex-direction: column;
}